header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  height: 55px;
  background: #303e27;
  color: #e7eaa8;
}
header h2 {
  margin: 0 3px 0 3px;
}

.title {
  display: flex;
}
.searchBar {
  width: 70%;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input {
  width: 40%;
  height: 2.4rem;
  background: #f6faf7;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}
.input:hover {
  cursor: auto;
}

.search {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}
.search:active {
  opacity: 50%;
}
