header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  height: 10vh;
  background: #303e27;
  color: #e7eaa8;
}
header h2 {
  margin: 0 3px 0 3px;
}

.title {
  display: flex;
}
