.wrapper {
  display: grid;
  grid-gap: 15px;
  padding: 12px 10px;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  height: 100%;
  width: 20%;
  background: #b4bb72;
  z-index: 0;
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 1.2rem;
}
.wrapper::-webkit-scrollbar-track {
  background: #b4bb72;
}
.wrapper::-webkit-scrollbar-thumb {
  background: #303e27;
  border-radius: 100vw;
  height: 100px;
  border: 0.25rem solid #b4bb72;
}

.wrappers {
  background: #e7eaa8;
  border-radius: 25px;
  padding: 10px 10px;
  font-size: 1.1rem;
  color: #361500;
}

.wrappers :active {
  opacity: 50%;
}

.number {
  background: #d7a86e;
  color: #361500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  padding: 5px 5px;
  border-radius: 100%;
  margin-bottom: 1rem;
  font-weight: 600;
}
.nameWrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.typeWrapper {
  display: flex;
  font-size: 0.8rem;
}
.typeWrapper p {
  margin: 0 3px 0 3px;
}

.theEnd {
  height: 50px;
  margin-top: 50px;
}
